.vs/

# это ещё не готово
CUDA_*/
cuda/

trash.cpp

!OUTPUT.log

preparing data/videos/*.mp4
preparing data/extracted_images/**/*.jpg
preparing data/extracted_images/with/*.jpg
preparing data/extracted_images/without/*.jpg
preparing data/extracted_images/with_800/*.jpg
preparing data/extracted_images/without_800/*.jpg
preparing data/extracted_images/without_advanced/*.jpg

!preparing data/*.exe

preparing navigation/videos/*.mp4
preparing navigation/false_positive_1/*.jpg
preparing navigation/false_positive_2/*.jpg
preparing navigation/extracted_images/with_800x450/*.jpg
preparing navigation/extracted_images/with_original/*.jpg

preparing navigation/extracted_images/with_original/already_processed/*.jpg
preparing navigation/extracted_images/with_original/already_processed_2/*.jpg
preparing navigation/extracted_images/with_original/manually_filtering/*.jpg


!preparing navigation/false_positive_1/1.jpg
!preparing navigation/false_positive_2/1.jpg
!preparing navigation/extracted_images/with*/pyramid0639.jpg
!preparing navigation/extracted_images/with*/already_processed/pyramid0001.jpg
!preparing navigation/extracted_images/with*/already_processed_2/pyramid0001.jpg
!preparing navigation/*.exe

!pyramid_test.mp4

# Архивы
*.zip

# автоматически сгенерированные
*.exe
*.lik
*.ilk
*.pdb
*.exp
*.lib
*.iobj
*.ipdb
*.idb

*.log
*.tlog
*.tlog/
*.obj

*.bak
*.ini

