.vs/

# это ещё не готово
CUDA_*/

# Архивы
*.zip

# автоматически сгенерированные
*.exe

*.lik
*.ilk

*.pdb
*.exp
*.lib

*.iobj
*.ipdb
*.idb

*.log
*.tlog
*.tlog/
*.obj

*.bak

# видео и изображения не нужны, однако
# структуру каталогов сохраним
preparing data/videos/*.mp4

preparing data/extracted_images/**/*.jpg
preparing data/extracted_images/with/*.jpg
preparing data/extracted_images/without/*.jpg
preparing data/extracted_images/with_800/*.jpg
preparing data/extracted_images/without_800/*.jpg

!preparing data/*.exe



navigation/pyramid.mp4
navigation/extracted_images/with*/*.jpg

!navigation/extracted_images/with*/pyramid0001.jpg